body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 55px;
    border-left: 5px solid;
    border-radius: 150px;
    border-image: linear-gradient(rgb(236, 92, 116),rgb(243, 14, 155));
    border-image-slice: .5;
    padding-left: 15px;
}
h2{
    font-size: 40px;
    text-align: center ;
}
.color{
    color: rgba(233, 176, 90, 0.897);

}
.first-section{
    display: flex;
    padding-top: 5%;
    padding-left: 10%;
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(236, 92, 116),rgb(243, 14, 155) );
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight:700;
}
.first-div{
    padding-right: 60px;
    margin-right: 40px;
}
.first-div p{
   padding-top: 10px;
   padding-bottom: 20px;
}
.first-div img{
    width: 80%;
    padding-left: 30px;
}
.second-section{
    padding-top: 10px;
    padding-left: 5px;
}
.second-section-table{
    display: flex;
    width:30%;
    
}
.second-section-table img{
    width: 20%;
}
#second-section-div1{
    background-color: rgb(163, 209, 240);
}
#second-section-div2{
    background-color: rgb(218, 171, 163);
}
#second-section-div3{
    background-color: rgb(212, 207, 177);
}
